<%= form_for(@task) do |f| %>

  
<% if @task.errors.any? %>

    <div id="error_explanation">
      <ul>
        
<% Task.errors.full_Tasks.each do |task| %>

          <li>
<%= Task %>
</li>
        
<% end %>

      </ul>
    </div>
  
<% end %>


  
<%= f.label :status, 'タイトル' %>

  
<%= f.text_field :status %>


  
<%= f.label :content, 'タスクリスト' %>

  
<%= f.text_field :content %>


  
<%= f.submit '投稿' %>

<% end %>